<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<title>Shop</title> 
		<link rel="stylesheet" th:href="@{/css/main.css}" />
        <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,300,600,700,800' rel='stylesheet' type='text/css'>
	</head>
	<body class="bg-blue-800 font-['Raleway'] items-start font-light text-white">
        <div th:replace="~{client :: menuClient}"></div>
        <div class="pl-[350px]">
            <div class="container p-10 mx-auto">
                <div class="text-3xl uppercase text-center tracking-wider mt-5 mb-10">Contacts</div>
                <div class="text-xl flex justify-around">
                    <div>
                        <div class="text-center font-medium">Working time</div>
                        <div>Mn-Fr 10:00-19:00</div>
                        <div>St-Sn 10:00-17:00</div>
                    </div>
                    <div>
                        <div class="text-center font-medium">Phone</div>
                        <div>134-45-45</div>
                        <div>156-90-90</div>
                    </div>
                </div>
                <div class="text-3xl uppercase text-center tracking-wider mt-10 mb-5">Pick-up points</div>
                <iframe class="m-auto" src="https://www.google.com/maps/d/embed?mid=166uVnqLfHRLufMKSw1TWLov-0uoq5hg&hl=ru&ehbc=2E312F" width="640" height="480"></iframe>
            </div>
        </div>
	</body> 
</html>