<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<title>Shop</title> 
		<link rel="stylesheet" th:href="@{/css/main.css}" />
        <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,300,600,700,800' rel='stylesheet' type='text/css'>
	</head>
	<body class="bg-[url(/images/bg.jpg)] bg-[size:100%] font-['Raleway'] font-light text-white">
		<div class="container p-10 m-auto">
            <div class="w-full max-w-lg m-auto justify-center">
                <form class="bg-opacity-50 px-10" method="POST" th:action="@{/signUp}" th:object="${user}" name="signUpForm" id="signUpForm"> 
                    <div class="text-center text-3xl uppercase tracking-widest">Sign up</div>
                    <div class="relative z-0 w-full mt-10 group">
                        <input type="text" th:field="*{name}" name="name" id="name" class="block py-1 p-0 w-full bg-transparent border-0 border-b border-white appearance-none focus:outline-none focus:border-b-2 peer" placeholder=" " pattern="[A-Za-zА-Яа-яёЁ]+" required />
                        <label for="name" class="absolute tracking-wider uppercase duration-300 transform -translate-y-5 scale-[.8] top-0 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-[.8] peer-focus:-translate-y-5">Name</label>
                    </div>
                    <div class="relative z-0 w-full mt-10 group">
                        <input type="text" th:field="*{surname}" name="surname" id="surname" class="block py-1 p-0 w-full bg-transparent border-0 border-b border-white appearance-none focus:outline-none focus:border-b-2 peer" placeholder=" " pattern="[A-Za-zА-Яа-яёЁ]+" required />
                        <label for="surname" class="absolute tracking-wider uppercase duration-300 transform -translate-y-5 scale-[.8] top-0 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-[.8] peer-focus:-translate-y-5">Surname</label>
                    </div>
                    <div class="relative z-0 w-full mt-10 group">
                        <input type="text" th:field="*{lastname}" name="lastname" id="lastname" class="block py-1 p-0 w-full bg-transparent border-0 border-b border-white appearance-none focus:outline-none focus:border-b-2 peer" placeholder=" " pattern="[A-Za-zА-Яа-яёЁ]+" required />
                        <label for="lastname" class="absolute tracking-wider uppercase duration-300 transform -translate-y-5 scale-[.8] top-0 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-[.8] peer-focus:-translate-y-5">Lastname</label>
                    </div>
                    <div class="relative z-0 w-full mt-10 group">
                        <input type="text" th:field="*{phone}" name="phone" id="phone" class="block py-1 p-0 w-full bg-transparent border-0 border-b border-white appearance-none focus:outline-none focus:border-b-2 peer" placeholder=" " pattern="(80|\+375)(29|44|25|33)[\d]{7}" required />
                        <label for="phone" class="absolute tracking-wider uppercase duration-300 transform -translate-y-5 scale-[.8] top-0 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-[.8] peer-focus:-translate-y-5">Phone</label>
                    </div>
                    <div class="relative z-0 w-full mt-10 group">
                        <input type="email" th:field="*{email}" name="email" id="email" class="block py-1 p-0 w-full bg-transparent border-0 border-b border-white appearance-none focus:outline-none focus:border-b-2 peer" placeholder=" " required />
                        <label for="email" class="absolute tracking-wider uppercase duration-300 transform -translate-y-5 scale-[.8] top-0 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-[.8] peer-focus:-translate-y-5">Email</label>
                    </div>
                    <div class="relative z-0 w-full mt-10 group">
                        <input type="text" th:field="*{username}" name="username" id="username" class="block py-1 p-0 w-full bg-transparent border-0 border-b border-white appearance-none focus:outline-none focus:border-b-2 peer" placeholder=" " minlength="5" required />
                        <label for="username" class="absolute tracking-wider uppercase duration-300 transform -translate-y-5 scale-[.8] top-0 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-[.8] peer-focus:-translate-y-5">Username</label>
                    </div>
                    <div class="relative z-0 w-full mt-10 group">
                        <input type="password" th:field="*{password}" name="password" id="password" class="block py-1 p-0 w-full bg-transparent border-0 border-b border-white appearance-none focus:outline-none focus:border-b-2 peer" placeholder=" " minlength="5" required />
                        <label for="password" class="absolute tracking-wider uppercase duration-300 transform -translate-y-5 scale-[.8] top-0 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-[.8] peer-focus:-translate-y-5">Password</label>
                    </div>
                    <div th:if="${errMes}" class="text-red-500 font-medium mt-1" th:text="${errMes}"></div>
                    <div class="mt-5">
                        <button type="submit" id="btn" class="w-full bg-white text-xl text-blue-700 border border-white uppercase hover:bg-transparent hover:text-white p-3 focus:outline-none focus:shadow-outline">
                            Sign up
                        </button>
                    </div>
                    <div class="flex items-center mt-5">
                        <div>
                            Do you have an account?
                        </div>
                        <a class="ml-1 inline-block align-baseline font-semibold hover:underline" th:href="@{/login}">
                            Sign in
                        </a>
                    </div> 
                </form>
            </div>
		</div>
	</body> 
</html>